name: Hola Mundo Pipeline

on:
  workflow_dispatch:
    inputs:
      target_branch:
        description: "Selecciona la rama a ejecutar"
        required: true
        default: "main"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout seleccionado
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.target_branch }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: |
          cd client
          npm ci

      - name: Run script 
        run: |
          cd client/src
          python hi.py
